@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
//this design colors
:root{
--clr-orange: hsl(4, 100%, 67%);
--clr-blue:hsl(232, 31%, 20%);
--clr-dark-gray:hsl(235, 18%, 26%);
--clr-darker-gray:hsl(235, 18%, 26%);
--clr-gray:hsl(231, 7%, 60%); 
--clr-white: hsl(0, 0%, 100%);
//primary font
--ff-primary : "Roboto", sans-serif;
}